
.label{
    margin: 0;
    height: fit-content;
}
.grid, .item-inner, .item{
    padding: 0px !important;
}
.item-inner, .item, .input-wrapper{
    height: auto !important;;
}
.coluna-nome, .coluna-plataforma, .coluna-compare, .coluna-favorito{
    padding: 0px;
    margin: 0px ;
    
}
.coluna-plataforma, .coluna-compare, .coluna-favorito{
    padding: 0px;
    margin: 0px ;
    
}
.compare{
    width: fit-content;
}
.item-toggle{
    zoom: 1.2;
}


