<ion-item line="full">
    <ion-grid>
        <ion-row>
            <ion-col align-self-center col-2>
            <div>
                    PC
            </div>    
            </ion-col>
            <ion-col col-6>
                    <div>
                            NomeJogador
                    </div> 
                  
            </ion-col>  
            <ion-col align-self-center col-2>
                <div>
                        C
                </div>
                    
            </ion-col>
            <ion-col align-self-center col-2>
                <div>
                        F
                </div>
            </ion-col>            
        </ion-row>
    </ion-grid>
    <!--ion-label fxFlex="16">PC</ion-label>
    <ion-label fxFlex="50">NomeJogador</ion-label>
    <ion-label fxFlex="16">C</ion-label>
    <ion-label fxFlex="16">F</ion-label-->
</ion-item>